$bgColor:     hotpink;//#2ecc71;
$fontColor:   #ecf0f1;
$border:      rgb(100,100,100);

$font__main: "Helvetica Neue", Arial, sans-serif;
$font__main--bold: "Helvetica Neue Bold", Arial, sans-serif;
$font__main--light: "Helvetica Neue Light", Arial, sans-serif;

$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

// environment specific colors
$color--aa: #000000;                // style guide color 1
$color--ab: #000000;                // style guide color 2
$color--ac: #000000;                // style guide color 3
$color--ad: #000000;                // style guide color 4
$color--ae: #000000;                // style guide color 5
$color--af: #000000;                // style guide color 6

// none style guide colors
$color--ba: #000000;                // none style guide color 1
$color--bb: #000000;                // none style guide color 2
$color--bc: #000000;                // none style guide color 3
$color--bd: #000000;                // none style guide color 4
$color--be: #000000;                // none style guide color 5
$color--bf: #000000;                // none style guide color 6
