ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  li {
    background-color: $color__background-pre;
    border: 1px solid $color__border-elements;
    font-size: 16px;
    text-align: center;
    &:first-of-type {
      border-bottom: none;
    }
    input {
      &:checked {
        + label {
          color: #9a9a9a;
          font-style: italic;
          text-decoration: line-through;
        }
      }
    }
    label {
      border-left: 1px solid $color__border-elements;
      color: #006a98;
      display: inline-block;
      height: 100%;
      padding: 30px 15px;
      text-align: left;
      width: calc(700px - 30px - 18px - 32px);
    }
  }
}

input[type='checkbox'] {
  display: inline-block;
  float: left;
  height: 18px;
  margin: 30px 16px;
  width: 15px;
}

input[type='text'] {
  border: 1px solid $color__border-elements;
  border-radius: 0 0 10px 10px;
  border-top: none;
  box-sizing: border-box;
  float: right;
  outline: none;
  padding: 12px;
  width: 100%;
}
