p {
  font-weight: 300;
  margin-bottom: 1.5em;
}

pre {
  background: $color__background-pre;
  border: 1px solid $color__border-elements;
  border-radius: 5px;
  color: #006a98;
  font-family: $font__pre;
  font-size: 11px;
  margin-bottom: 1.6em;
  max-height: 200px;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
  -webkit-font-smoothing: none;
}

code, kbd, tt, var {
  font-family: $font__code;
}
